*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vh;
    text-decoration: underline;
} 
